footer {
    height: 160px;
    width: 100%;
    background-color: #242729;
    z-index: 1;
  }
  
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer-title {
    font-size: 13px;
    font-weight: bold;
    color: #BBC0C4;
    margin-left: 16px;
    margin-top: 16px;
  }
  
  .footer a p:hover {
    color: #F2F3F3;
  }
  
  .footer img {
    height: 44px;
    width: 44px;
  }
  
  .disclaimer p {
    margin-left: 780px;
    margin-top: 16px;
    font-size: 11px;
    color: #5F6467;
  }
  
  .link {
    font-size: 11px;
    color: #5F6467;
    margin-left: 780px;
    margin-top: 16px;
  }