footer {
    height: 140px;
    width: 99.8vw;
    background-color: #242729;
    z-index: 1;
  }
  
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    &__left {
      display: flex;
      align-items: center;
      img {
        height: 44px;
        width: 44px;
      }
      &__title {
        font-size: 13px;
        font-weight: bold;
        color: #BBC0C4;
        text-decoration: none;
        margin-left: 16px;
      }
    }
    &__right {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      a {
        text-decoration: none;
        p:hover {
          color: #F2F3F3;
        }
      }
      &__link {
        font-size: 11px;
        color: #5F6467;
        margin-bottom: 8px;
        
      }
    }
    
  }

@media (max-width: 380px) {
  .footer {
    padding: 8px;
    margin: 0px;
    &__left {
      img {
        height: 32px;
        width: 32px;
      }
    }
  }  
}
  