.sidebar {
    grid-area: sidebar;
    width: 164px;
    border-right: 1px solid #D6D9DC;
    &__content {
        width: auto;
        padding-top: 24px;
        li {
            list-style: none;
        }
        a { 
            text-decoration: none;
        }
        &__home li {
            font-size: 13px;
            color: #535a60;
            margin-left: 9.5px;
            &:hover {
                color: black;
            }
        }
        &__public {
            &__text {
                font-size: 11px;
                color: #6a737c;
                margin-top: 24px;
                margin-left: 9.5px;
            }
            &__container {
                display: flex;
                margin-top: 5px;
                margin-left: 1px;
                background-color: #EFF0F1;
                height: 33px;
                border-right: 3px solid #f48024;
                svg {
                    margin-top: 8px;
                    margin-left: 8px;
                }
                a {
                    font-size: 13px;
                    font-weight: 700;
                    color: #0c0d0e;
                    margin-left: 6px;
                    margin-top: 9px;
                }
            }
        }
    }
}


