.sidebar {
    padding-left: 44px;
    border-right: 1px solid #D6D9DC;
    &__content {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        li {
            list-style: none;
        }
        a { 
            text-decoration: none;
        }
        &__home li {
            font-size: 13px;
            color: #535a60;
            margin-bottom: 20px;
            &:hover {
                color: black;
            }
        }
        &__public {
            display: flex;
            flex-direction: column;
            &__text {
                font-size: 11px;
                color: #6a737c;
            }
            &__container {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-top: 5px;
                background-color: #EFF0F1;
                border-right: 3px solid #f48024;
                padding-right: 10px;
                svg {
                    margin: 8px;
                    position: relative;
                }
                a {
                    font-size: 13px;
                    font-weight: 700;
                    color: #0c0d0e;
                }
            }
        }
    }
}


