.questions-search-container {
    display: flex;
    padding-top: 50px;
    min-height: 80vh;
}

.questions-search {
    padding: 24px;
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-size: 27px;
            font-weight: 400;
            color: #242729;
        }
        &-results {
            color: #6a737c;
            font-size: 12px;
            margin-bottom: 24px;
        }
        &-number {
            font-size: 22px;
            margin-left: 2px;
            margin-bottom: 16px;
        }
    }  
}

@media screen and (max-width: 380px) {
    .sidebar {
        display: none;
    }
    .question-show-top__title {
        font-size: 22px;
        flex: 3;
        margin-left: 10px;
    }
    
}