.question-show-container {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.question-show {
    padding: 24px;
    &-top {
        display: flex;
        justify-content: space-between;
        height: 74px;
        &__title {
            font-size: 27px;
            color: #3c4146;
            padding-top: 4px;
        }
        &__btn {
            background-color: #0095ff;
            font-size: 13px;
            color: white;
            height: 38px;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid transparent;
            border-radius: 3px;
            box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4);
            &:hover {
                background-color: #0077cc;
            }
        }
    }
    &-body {
        display: flex;
        border-top: 1px solid #e4e6e8;
        &__votes {
            margin-top: 25px;
            width: 36px;
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__upvote {
                width: 0; 
                height: 0; 
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;
                border-bottom: 16px solid #BBC0C4;
                cursor: pointer;
            }
            &__score {
                color: #6A737C;
                font-size: 22px;
                margin: 15px 0px;
            }
            &__downvote {
                width: 0; 
                height: 0; 
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;
                border-top: 16px solid #BBC0C4;
                cursor: pointer;
            }
        }
        &__question {
            &__buttons {
                color: #848d95;
                font-size: 13px;
                cursor: pointer;
                margin: 16px;
                padding-top: 4px;
                a {
                    text-decoration: none;
                    color: #848d95;
                    margin-right: 6px;
                    &:hover  {
                        color: #3C4656;
                    }
                }
            }
        }
    }
    &__answers {
        padding-top: 10px;
        &__header {
           font-size: 1.1em;
           padding: 1em 0px;
        }
        ul {
            list-style-type: none
        }
    }
}

.downvoted {
    border-top: 16px solid #F48024;
}

@media (max-width: 695px) {
    .sidebar {
        display: none;
    }
}
  





