.questions-index-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 1fr;
      grid-template-columns: 0.2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "sidebar questions";
}

.questions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: questions;
}

.questions-index__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
}

.questions-index__top h1 {
  font-size: 27px;
  font-weight: 400;
  color: #242729;
}

.questions-index__top__btn {
  margin-right: 120px;
  background-color: #0095ff;
  font-size: 13px;
  color: white;
  height: 38px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
          box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
}

.questions-index__top__btn:hover {
  background-color: #0077cc;
}

.questions-index__number {
  margin-top: 16px;
  font-size: 1.30769231rem;
  padding-bottom: 12px;
  border-bottom: 1px solid #e4e6e8;
  padding-left: 16px;
}

.questions-index__questions {
  height: 162px;
  padding: 12px 8px;
  padding-right: 40px;
  border-bottom: 1px solid #e4e6e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questions-index__questions__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 58px;
}

.questions-index__questions__left span {
  font-size: 20px;
  color: #6a737c;
  margin-top: 15px;
}

.questions-index__questions__left p {
  color: #6a737c;
  font-size: 11px;
  margin-top: 3px;
}

.questions-index__questions__info {
  list-style: none;
}

.questions-index__questions__info a {
  font-size: 16px;
  color: #0077CC;
  text-decoration: none;
}

.questions-index__questions__info a:hover {
  color: #0095ff;
}

.questions-index__questions__info__body {
  padding-top: 8px;
  font-size: 14px;
  color: #242729;
}

@media (max-width: 695px) {
  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .questions-index__top h1 {
    margin-top: 16px;
  }
  .questions-index__top__btn {
    margin: 0px;
    margin-top: 20px;
  }
  .questions-index__number {
    margin: 0px;
  }
  .questions-index__questions {
    height: 120px;
  }
  .questions-index__questions__info a {
    margin-top: 10px;
    font-size: 20px;
  }
  .questions-index__questions__info__body {
    display: none;
  }
}
/*# sourceMappingURL=questions_index.css.map */