.questions-search-container {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    min-height: 80vh;
}

.questions-search {
    padding: 24px;
    &-top {
        display: flex;
        justify-content: space-between;
        width: 727px;
        margin-bottom: 24px;
        h1 {
            padding-top: 2px;
            font-size: 27px;
            font-weight: 400;
            color: #242729;
        }
        &-results {
            color: #6a737c;
            font-size: 12px;
            margin-bottom: 24px;
        }
        &-number {
            font-size: 22px;
            margin-left: 2px;
            margin-bottom: 16px;
        }
    }
    
}