.main-nav-container {
  background-color: #fafafb;
  height: 50px;
  width: 100vw;
  border-top: 3px solid #f48024;
  position: fixed;
  -webkit-box-shadow: 0 1px 0 rgba(12, 13, 14, 0.15);
          box-shadow: 0 1px 0 rgba(12, 13, 14, 0.15);
  z-index: 2;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
}

.main-nav__left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown {
  width: 44px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.dropdown:hover {
  background-color: #e4e6e8;
  color: black;
}

.dropdown__button {
  margin: auto;
}

.bar1, .bar2, .bar3 {
  width: 18px;
  height: 2px;
  background-color: #848d95;
  margin: 3px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 3px);
  transform: rotate(-45deg) translate(-3px, 3px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -4px);
  transform: rotate(45deg) translate(-4px, -4px);
}

.logo img {
  max-width: 100%;
  height: auto;
}

.header-wrapper span:hover {
  background-color: #e4e6e8;
  color: black;
}

.inline {
  position: relative;
  display: inline;
}

.drop-down {
  top: 47px;
  position: absolute;
  overflow: auto;
  z-index: 1;
  display: none;
}

.drop-down a {
  background-color: white;
  display: block;
  width: 240px;
  height: 31px;
  margin: auto;
  padding: 4px 4px 4px 8px;
}

.drop-down a:hover {
  background-color: #e4e6e8;
}

.show {
  display: block;
}

.logo {
  padding: 0px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 166px;
}

.searchbar {
  width: 607px;
  color: #3c4146;
  border: 0.8px solid #bbc0c4;
  border-radius: 3px;
  height: 33px;
}

.searchbar-container {
  margin-left: 302.5px;
}

#altsearch {
  margin-right: 100px;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 4px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: 8.5px;
}

.nav-right__loginbtn {
  background-color: #E1ECF4;
  font-size: 13px;
  width: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
          box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
  padding: 8px;
}

.nav-right__loginbtn a {
  color: #39739d;
  text-decoration: none;
}

.nav-right__loginbtn:hover {
  background-color: #b3d3ea;
}

.nav-right__signupbtn {
  background-color: #0095ff;
  font-size: 13px;
  width: 67px;
  margin-left: 3.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
          box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
}

.nav-right__signupbtn a {
  color: white;
  text-decoration: none;
}

.nav-right__signupbtn:hover {
  background-color: #0077cc;
}

.alt-nav-container {
  background-color: #fafafb;
  height: 50px;
  width: 100%;
  border-top: 3px solid #f48024;
  position: fixed;
  -webkit-box-shadow: 0 1px 0 rgba(12, 13, 14, 0.15);
          box-shadow: 0 1px 0 rgba(12, 13, 14, 0.15);
  z-index: 2;
}

.alt-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alt-nav-logout {
  margin-left: 64px;
}

.alt-nav-logout button {
  background-color: #E1ECF4;
  font-size: 13px;
  width: 68px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
          box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
  padding: 8px;
  color: #39739d;
}

.alt-nav-logout button:hover {
  background-color: #b3d3ea;
}
/*# sourceMappingURL=navbar.css.map */