.question-show-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.question-show {
    padding: 24px;
    padding-top: 74px;
    &-top {
        display: flex;
        justify-content: space-between;
        height: 74px;
        width: 1051px;
        &__title {
            font-size: 27px;
            color: #3c4146;
            padding-top: 4px;
        }
        div {
            background-color: #0095FF;
            font-size: 13px;
            width: 100px;
            height: 35px;
            margin-left: 12px;
            border-radius: 3px;
            padding: 8px;
            text-align: center;
            border: 1px solid transparent;
            cursor: pointer; 
            a {
                color: white;
                text-decoration: none;
            }
            &:hover {
                background-color: #0077CC;
            }
        }
    }
    &-body {
        display: flex;
        border-top: 1px solid #e4e6e8;
        &__votes {
            margin-top: 25px;
            width: 36px;
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__upvote {
                width: 0; 
                height: 0; 
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;
                border-bottom: 16px solid #BBC0C4;
                cursor: pointer;
            }
            &__score {
                color: #6A737C;
                font-size: 22px;
                margin: 15px 0px;
            }
            &__downvote {
                width: 0; 
                height: 0; 
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;
                border-top: 16px solid #BBC0C4;
                cursor: pointer;
            }
        }
    }
    &__question {
        width: 800px;
        &__buttons {
            color: #848d95;
            font-size: 13px;
            cursor: pointer;
            margin: 16px;
            padding-top: 4px;
            a {
                text-decoration: none;
                color: #848d95;
                margin-right: 6px;
                &:hover  {
                    color: #3C4656;
                }
            }
        }
    }
    &__answers {
        padding-top: 10px;
        &__header {
           font-size: 1.1em;
           padding: 1em 0px;
        }
        ul {
            list-style-type: none
        }
    }
}
  





