.question-show-container {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
}

.question-show {
    padding: 24px;
    padding-top: 74px;
    margin-left: 164px;
    max-width: 1051px;
    &-top {
        display: flex;
        justify-content: space-between;
        height: 80px;
        p {
            font-size: 27px;
            color: #3c4146
        }
        div {
            background-color: #0095FF;
            font-size: 13px;
            width: 100px;
            height: 35px;
            margin-left: 12px;
            border-radius: 3px;
            padding: 8px;
            text-align: center;
            border: 1px solid transparent;
            cursor: pointer; 
            a {
                color: white;
                text-decoration: none;
            }
            &:hover {
                background-color: #0077CC;
            }
        }
    }
    &__question {
        margin-top: 44px;
        margin-left: 33px;
        height: 100px;
        width: 650px;
    }
    &__buttons {
        color: #848d95;
        font-size: 13px;
        cursor: pointer;
        margin-top: 5px;
        margin-left: 50px;
        a {
            text-decoration: none;
            color: #848d95;
            margin-right: 6px;
            &:hover  {
                color: #3C4656;
            }
        }
    }
    &__answers {
        padding-top: 10px;
        &__header {
           font-size: 1.1em;
           padding: 1em 0px;
        }
        ul {
            list-style-type: none
        }
    }
}




