.sidebar {
    position: fixed;
    width: 164px;
    height: 100vh;
    border-right: 1px solid #D6D9DC;
    left: 46px
}

.sidebar-content {
    width: auto;
    padding-top: 24px;
}

.sidebar-content li {
    list-style: none;
}

.sidebar-content p {
    font-size: 11px;
    color: #6a737c;
    margin-top: 24px;
    margin-left: 9.5px;
}

.home li {
    font-size: 13px;
    color: #535a60;
    margin-left: 9.5px;
}

.home a {
    text-decoration: none;
}

.home a li:hover {
    color: black;
}

.public {
    display: flex;
    margin-top: 5px;
    margin-left: 1px;
    background-color: #EFF0F1;
    height: 33px;
    border-right: 3px solid #f48024;
}

.public svg {
    margin-top: 8px;
    margin-left: 8px;
}

.public a {
    font-size: 13px;
    font-weight: 700;
    color: #0c0d0e;
    text-decoration: none;
    margin-left: 6px;
    margin-top: 9px;
}

