body {
    background-color: #EFF0F1;
}

.signup-body {
    display: flex;
}
.signup-right {
    width: 316px;
}

.signup-left {
    width: 421px;
    display: flex;
    flex-direction: column;
}

.signup-headline {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 27px;
    font-weight: 400;
    color: #242729;
}

.signup-form-container {
    background-color: white;
    padding: 24px;
    width: 316px;
    height: 641px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;
    border-radius: 7px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05), 0 20px 48px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1);
}

.signup-form label {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
}