.splash {
    padding-top: 50px;
    width: 98.9vw;
    &-img {
        text-align: center;
        position: relative;
        height: 501px;
        background-color: #ffcf10;
        width: 100%;
        img {
            margin: auto;
            width: 1340px;
            height: 501px;
        }
        &__text {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 42%;
            left: 50%;
            transform: translate(-50%, -50%); 
            &__header {
                font-family: 'Roboto Slab', serif; 
                font-size: 55px;
                color: #242729;
                margin-bottom: 25px;
            }
            &__sentence {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 21px;
                max-width: 350px;
                margin: auto;
            }
        }
    }
}

@media (max-width: 900px) {
    .splash-img img {
        width: 900px;
    }
}

@media (max-width: 695px) {
    .splash-img img {
        width: 0px;
    }
}

.splash-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 48px;
    &__header {
        font-family: 'Roboto Slab', serif; 
        font-size: 34px;
        
    }
    &__bar {
        height: 8px;
        width: 63.5px;
        margin: 24px;
        border-radius: 10px;
        background-color: #F48024;
    }
    &__text {
        p {
            text-align: center;
            max-width: 550px;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 17px;
        }
    }
}

.splash-footer {
    margin-top: 100px;
}


