.login {
  background-color: #EFF0F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 122px;
  height: 750px;
}

.login-icon {
  width: 50px;
  height: auto;
  margin-bottom: 3px;
}

.login__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__buttons__demo {
  background-color: #FFFFFF;
  color: #3c4146;
  width: 310px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 35px;
  margin-top: 12px;
  cursor: pointer;
}

.login__buttons__demo:hover {
  background-color: #fafafb;
}

.login__buttons__git {
  background-color: #2F3337;
  color: white;
  width: 310px;
  border: 1px solid transparent;
  border-radius: 5px;
  height: 35px;
  margin-top: 12px;
  cursor: pointer;
}

.login__buttons__git:hover {
  background-color: #242729;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 255px;
}

.login__form label {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-left: 10px;
}

.login__form__input {
  width: 261px;
  padding: .6em .7em;
  border: 1px solid #BBC0C4;
  border-radius: 3px;
  color: var(--fc-dark);
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 22px;
  margin-right: 5px;
}

.login__form__btn {
  background-color: #0095FF;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  font-size: 13px;
  width: 103%;
  height: 35px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  margin-top: -5px;
  margin-left: 5px;
}

.login__form__btn:hover {
  background-color: #0077CC;
}

.login__signup-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-top: 40px;
}

.login__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  width: 310px;
  height: 234px;
  padding: 24px;
  margin-top: 66px;
  border-radius: 7px;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05), 0 20px 48px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05), 0 20px 48px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1);
}

body .signup-body {
  background-color: #EFF0F1;
}

.signup-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup-left {
  width: 421px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 250px;
}

.signup-left-header {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 27px;
  font-weight: 400;
  color: #242729;
}

.signup-left-snippets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #242729;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  margin-top: 25px;
}

.icon {
  color: #0095FF;
  font-size: 22px;
}

.icon-snippet {
  margin-top: 3px;
  margin-left: -15px;
}

.signup-right {
  width: 316px;
  margin-top: 14px;
  margin-left: 58px;
  margin-right: 10px;
}

.signup-form-container {
  background-color: white;
  padding: 24px;
  width: 310px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 65px;
  border-radius: 7px;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05), 0 20px 48px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05), 0 20px 48px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1);
}

.signup-form label {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.signup-text {
  font-family: arial;
  color: #6a737c;
  font-size: 12px;
}

.sb {
  margin-top: 65px;
  margin-bottom: 30px;
}

.signup-demo {
  background-color: #FFFFFF;
  color: #3c4146;
  width: 310px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 35px;
  margin-top: 12px;
  cursor: pointer;
}
/*# sourceMappingURL=userauth.css.map */